{% extends 'base.html' %} {% block content %}
<br />

<div class="container">
  <div class="row">
    <div class="well">
      <h1 style="text-align: center" id="Hfont">PDF</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-12">
    <div class="well" style="text-align: center;  font-size: 20px;" id="Hfont">
      <b>PDF:</b>
      <input type="text" id="t" name="t" value="" />
      <button type="button" onclick="genPDF()">Click Me!</button>
      <br><br>
      <p style="font-size: 15px; color: #9C9C9C;" id="Thaifont">กรุณาพิมพ์ข้อความที่ต้องการบันทึก!!!</p>
    </div>
  </div>

</div>
{% endblock %}
